<ion-view view-title="Artists List">
    <ion-nav-buttons side="primary">
          <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;"></button>
      </ion-nav-buttons>
    
    <ion-nav-buttons side="secondary">
          <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;"></button>
    
    </ion-nav-buttons>

        <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Search">
            </label>
        </div>

      <ion-content class="has-subheader">
          
          <ion-refresher on-refresh="doRefresh()"></ion-refresher>
          
          <ion-list show-reorder="data.showReorder" show-delete="data.showDelete">
              
          <ion-item ng-class="{&apos;star&apos;:item.star}" ng-repeat="item in artists | filter: query" class="item-thumbnail-left item-text-wrap item-icon-right" href="#/tab/list/{{item.shortname}}">
              
              <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
              
            <img ng-src="img/{{item.shortname}}_tn.jpg" alt="{{item.name}} Photo">
            <h2>{{item.name}}</h2>
            <h3>{{item.reknown}}</h3>
            <p>{{item.bio | limitTo: 100}}{{item.bio.length &gt; 150 ? &apos;&#x2026;&apos; : &apos;&apos;}}</p>
              
              <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>
              
              <ion-option-button class="button-dark" ng-click="toggleStar(item)"><i class="icon ion-star"></i></ion-option-button>
              
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
              
            </ion-item>
              
          </ion-list>
          
</ion-content>
    
    </ion-view>