<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
   <ion-nav-view></ion-nav-view>   
      
      
<!-- Moved this section to list.html and removed ion pan
    <ion-pane ng-controller="ListController">
      <ion-header-bar class="bar-dark">
          <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;"></button>
        <h2 class="title">Artist List</h2>
          <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;"></button>
      </ion-header-bar>
        <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Search">
            </label>
        </div>
      <ion-content class="has-subheader">
          <ion-refresher on-refresh="doRefresh()"></ion-refresher>
          <ion-list show-reorder="data.showReorder" show-delete="data.showDelete">
          <ion-item ng-class="{&apos;star&apos;:item.star}" ng-repeat="item in artists | filter: query" class="item-thumbnail-left item-text-wrap item-icon-right">
              <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
            <img ng-src="img/{{item.shortname}}_tn.jpg" alt="{{item.name}} Photo">
            <h2>{{item.name}}</h2>
            <h3>{{item.reknown}}</h3>
            <p>{{item.bio | limitTo: 100}}{{item.bio.length &gt; 150 ? &apos;&#x2026;&apos; : &apos;&apos;}}</p>
              <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>
              <ion-option-button class="button-dark" ng-click="toggleStar(item)"><i class="icon ion-star"></i></ion-option-button>
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
          </ion-list>
      </ion-content>
    </ion-pane>
    End -->
  </body>
</html>
